<h1>Create New Discount</h1>

<section id="new-disc-form">
<%= form_with(url: @merchant_discounts_path, method: "post") do |f| %>
  <%= f.label :percent, "Discount percentage (as a decimal):" %>
  <%= f.text_field :percent %><br/>
  <%= f.label :quantity, "Minimum item threshold:" %><br/>
  <%= f.text_field :quantity %><br/>
  <%= f.submit %>
<% end %>
</section>
